/* CSS STYLE FROM WADIDIN.NHISTIC.COM */
/* WEBSITE SAYA PRIBADI */


/* variables */
:root {
  /* dark shades of custom color*/
  /* --clr-custom-1: hsl(43, 86%, 17%); */
  --clr-custom-1: hsl(184, 91%, 17%);
  --clr-custom-2: hsl(185, 84%, 25%);
  --clr-custom-3: hsl(185, 81%, 29%);
  --clr-custom-4: hsl(184, 77%, 34%);
  --clr-custom-5: #2caeba;
  /* lighter shades of custom color */
  --clr-custom-6: hsl(185, 57%, 50%);
  --clr-custom-7: hsl(184, 65%, 59%);
  --clr-custom-8: hsl(184, 80%, 74%);
  --clr-custom-9: hsl(185, 94%, 87%);
  --clr-custom-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-custom: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --ff-third: "Quicksand", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}
/*===================*/

/* body */
body {
  font-family: var(--ff-third);
  background: var(--clr-white);
  margin: 0;
  padding: 0;
  color: var(--clr-custom-3);
  line-height: 1.5;
  font-size: 0.875rem;
  }

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-custom);
}

h1 {
  font-size: 3rem;

}
h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-1);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*===================*/


/* navbar */
header {
  display: inline;
}

.navbar {
  background: var(--clr-custom-4);
  padding: 5px;
  position: sticky;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header img {
    margin-bottom: 0.05rem;
}

.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-white);
  cursor: pointer;
  transition: var(--transition);
}

.toggle-btn:hover {
    color: var(--clr-custom-1);
}

.nav-links {
  display: none;
}

@media screen and (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links li {
    margin-right: 2rem;
  }

  .nav-links a {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 0;
  }

  .nav-links a:hover {
    color: var(--clr-grey-1);
    box-shadow: 0px 2px var(--clr-grey-1);
  }
  
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: var(--clr-custom-4);
  }
}

/*===================*/

/* Sidebar */
.sidebar {
  background: var(--clr-grey-10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}

.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}

.sidebar-links li {
  opacity: 0;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}

.sidebar-links li a:hover {
  background: var(--clr-custom-9);
  color: var(--clr-custom-4);
}

.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}

/* Sidebar Animation */
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* social links */
.social-links {
  margin-top: 2rem;
  width: 16rem;
  display: flex;
  justify-content: space-between;
}

.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--clr-custom-5);
}
/*===================*/


/* main */
main {
  padding: 20px;
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  overflow: auto;
}
/*===================*/


/* footer */
footer {
  margin-top: 30px;
  padding: 5px;
  background: var(--clr-custom-4);
}

.footer-custom {
  width: 90vw;
  max-width: 1170px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

footer p {
  font-size: 16pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: var(--clr-white);
}

footer a {
  text-transform: capitalize;
  font-weight: bold;
  color: var(--clr-white);
  letter-spacing: var(--spacing);
  transition: var(--transition);
  margin-right: 1rem;
}

footer a:hover {
  color: var(--clr-grey-1);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#content {
  float: left;
  width: 73%;
}

#content > h2 {
  background-color: #4c5450;
  padding: 15px;
  color: white;
}

#content > h3 {
  background-color: #60d0a8;
  padding: 15px;
  color: white;
}

.aright {
  font-size: 12px;
  float: right;
  width: 27%;
  padding-left: 20px;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}


.profile header {
  text-align: center;
}

.profile img {
  width: 150px;
}

* {
  box-sizing: border-box;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:var(--clr-custom-5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: var(--clr-custom-8);
}

@media screen and (max-width: 768px) {
  #content {
    float: center;
    width: 100%;
  }

  .aright {
    float: center;
    width: 107%;
    margin-top: 10px;
    font-size: 12px;
  }
}
